<!DOCTYPE html>
<html lang="en">
<% include ../../../partials/head.ejs %>

<body>

<div class="admin">
    <% include ../../../partials/sidebar.ejs %>

    <!-- Admin Main Area CSS -->

    <div class="admin_main">
        <div class="admin_title_area">
            <div class="container-fluid">
                <div class="row col-md-12">
                    <div style="flex: 1;">
                        <h2>Order Report</h2>
                    </div>
                    <div class="d-flex">
                        <div class="add_user">
                            <button type="button" class="btn common_btn" id="export_csv_btn">+ EXPORT CSV</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin_header_nav combine_nav d-flex justify-content-between">
            <div class="btn-group nav-menu" style="padding-bottom: 15px;">
                <div class="custom-control custom-control-lg custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="only-mine-check">
                    <label class="custom-control-label" for="only-mine-check">ONLY SHOW MY ORDERS</label>
                </div>
            </div>
            <%- include('../../../partials/campaigns-filter.ejs', { link: `/campaign-report?onlymine=${onlymine || ''}&campaign=` }) %>
        </div>

        <div class="admin_content_area">
            <% if (!reports.length) { %>
                <div class="pastorder_item text-center" id="no-user-found"><span style="font-size: 25px;">No order data found.</span></div>
            <% } else { %>
                <div>
                    <table cellspacing="0" cellpadding="0" class="table-bordered table-responsive-lg table-hover table-report">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Sender</th>
                            <th>Campaign Name</th>
                            <th>Collection Sent</th>
                            <th>Total Gifts Sent</th>
                            <th>Redemption Rate</th>
                            <th>Send Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (let i = 0; i < reports.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td>
                                    <div>
                                        <span class="sender-company"><%= reports[i]['user']['company'] %></span>
                                        <span class="sender-name"><%= reports[i]['user']['firstname'] + ' ' + reports[i]['user']['lastname'] %></span>
                                        <span class="sender-email"><%= reports[i]['user']['email'] %></span>
                                    </div>
                                </td>
                                <td><%= reports[i]['title'] %></td>
                                <td><%= reports[i]['price'] ? '$' : '' %><%= reports[i]['price'] %></td>
                                <td><%= reports[i]['sent_count'] %></td>
                                <td><%= reports[i]['redemption_rate'] + ' %'%></td>
                                <td><%= reports[i]['sent_at'] ? moment(reports[i]['sent_at']).format('MM/DD/YYYY hh:mmA') : '-' %></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>

    </div>

    <% include ../../../partials/footer.ejs %>

</div>

<% include ../../../partials/storage.ejs %>
<% include ../../../partials/foot.ejs %>
<% include client-campaign-reports_action.ejs %>

</body>
</html>
