<!DOCTYPE html>
<html lang="en">
<% include ../../partials/head.ejs %>

<body>

<div class="admin">
    <% include ../../partials/sidebar.ejs %>

    <!-- Admin Main Area CSS -->

    <div class="admin_main">

        <div class="alert alert-dismissible fade show signed_alart d-none" role="alert">
            <img src="/resources/images/icons/green-tic.png" alt="img"/>
            Signed in successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="admin_title_area">
            <div class="container-fluid">
                <div class="row col-md-12">
                    <div style="flex: 1;">
                        <h2>Collections</h2>
                    </div>
                    <div>
                        <% if (ability.can('update', 'Credit')) { %>
                            <a  type="button" class="btn common_btn" href="/credit/list">BUY CREDIT</a>
                        <% } %>
                        <% if (ability.can('create', 'Campaign')) { %>
                            <button type="button" class="btn common_btn send-a-gift ml-5">SEND A GIFT</button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin_content_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="admin_subtitle">
                        <h4><i>signature</i> COLLECTIONS</h4>
                    </div>
                </div>
                <div class="row">
                    <% for (let i = 0; i < signature_collections.length; i++) { %>
                        <div class="col-md-6 col-sm-12 col-xl-3" style="padding-bottom: 30px;">
                            <div class="admin_collection_item">
                                <!--                            <img src="/resources/images/collection.png" alt="img"/>-->
                                <div class="collection-image-area">
                                    <%
                                        var products = signature_collections[i]['products'];
                                    for (let ii = 0; ii < 12; ii++) {
                                    %>
                                        <div class="admin_collection_piece">
                                            <% if (ii < products.length) { %>
                                                <img src="<%= products[ii]['image_data']['sub'][[0]] %>" alt="img"/>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                                <h5><%= signature_collections[i]['title'] %></h5>
                                <a href='/step/first?cid=<%= signature_collections[i]['shopify_id'] %>&ctype=signature'>
                                    <button type="button" class="btn common_btn view-collection">VIEW COLLECTION
                                    </button>
                                </a>

                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="row">
                    <div class="admin_subtitle">
                        <h4><i>your</i> COLLECTIONS</h4>
                    </div>
                </div>
                <div class="row">
                    <% for (let i = 0; i < campaigns.length; i++) { %>
                        <div class="col-md-6 col-sm-12 col-xl-3" style="padding-bottom: 30px;">
                            <div class="admin_collection_item">
                                <!--                            <img src="/resources/images/collection.png" alt="img"/>-->
                                <div class="collection-image-area">
                                    <%
                                        var products = campaigns[i]['products'];
                                    for (let ii = 0; ii < 12; ii++) {
                                    %>
                                        <div class="admin_collection_piece">
                                            <% if (ii < products.length) { %>
                                                <img src="<%=  products[ii]['image_data']['sub'][[0]] %>" alt="img"/>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                                <h5><%= campaigns[i]['title'] %></h5>
                                <a href='/step/first?cid=<%= campaigns[i]['id'] %>&ctype=campaign'>
                                    <button type="button" class="btn common_btn view-collection">VIEW COLLECTION
                                    </button>
                                </a>
                                <div class="underlined-item">
                                    <div class="rename-collection mr-2" campaign-id="<%= campaigns[i]['id'] %>"
                                         campaign-title="<%= campaigns[i]['title'] %>">Rename Collection
                                    </div>
                                    <% if (!campaigns[i]['is_sent']) { %>
                                        <div class="delete-collection ml-2" campaign-id="<%= campaigns[i]['id'] %>">
                                            Delete Collection
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <% include ../../partials/footer.ejs %>
</div>

<% include ../../partials/modals.ejs %>

<% include ../../partials/storage.ejs %>
<% include ../../partials/foot.ejs %>
<% include client-dashboard_action.ejs %>
<% include ../../partials/purchase-credit_actions.ejs %>

</body>
</html>
