<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<input type="text" style="background: #F5F8FA;" class="form-control" id="first-name" placeholder="First Name" value="<%= contact['shipping_first_name'] %>" data-parsley-trigger="change" data-parsley-pattern="<%= namePattern %>" required="" />
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<input type="text" style="background: #F5F8FA;" class="form-control" id="last-name" placeholder="Last Name" value="<%= contact['shipping_last_name'] %>" data-parsley-trigger="change" data-parsley-pattern="<%= namePattern %>" required="" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<input type="text" style="background: #F5F8FA;" class="form-control" id="address" placeholder="<%= country.labels.address1 || "Address" %>" value="<%= contact['shipping_address'] %>" data-parsley-trigger="change" required="" data-parsley-pattern="<%= POBoxesPattern %>" data-parsley-error-message="Fill in your address (PO Boxes are not allowed).">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<input type="text" style="background: #F5F8FA;" class="form-control" id="apartment" placeholder="<%= country.labels.address2 || "Suite/Apt" %>" value="<%= contact['shipping_apartment'] %>">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class="form-group mobile_100">
			<input type="text" style="background: #F5F8FA;" class="form-control" id="zip-code" placeholder="<%= country.labels.zip || "Postal Code" %>" value="<%= contact['shipping_zip_code'] %>" data-parsley-trigger="change" required="">
		</div>
	</div>
	<div class="col-md-7">
		<div class="form-group">
			<input type="text" style="background: #F5F8FA;" class="form-control" id="city" placeholder="<%= country.labels.city || "City" %>" value="<%= contact['shipping_city'] %>" data-parsley-trigger="change" required="">
		</div>
	</div>
</div>
<input type="hidden" id="state" value="<%= contact['shipping_state'] %>">